body{
    margin: 0;
    overflow: hidden;
    height: -webkit-fill-available;
    background: url(/webgl_puppy/assets/view.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

}
#bars
{
    width: 1000px;
    height: 10%;
    padding: 15px;
}

.canvas-container {
    position: relative;
    margin: auto;
    height: inherit;

}
canvas{
    width: 100%;
    height: 90%;
    position: absolute;
}
#start-container{
    width: 100%;
    height: 90%;
    position: absolute;
}
#start{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    width: 20%;
}